<style>

* {
  outline: none;
}

body {
  background: #2E2D2E;
  color: #f0ecec;
  font-family: monospace;
}

h1 {
  font-size: 3em;
  color: #f4a238;
}

.main {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

button {
  width: 20px;
  height: 20px;
  background: #f4a238;
  border: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 50%;
  cursor: pointer;
}
button:hover {
  background: #e9972b;
}

.row {
  font-size: 1.3em;
}


.break {
  margin-left: 10px;
  display: inline-block;
}

.session {
  display: inline-block;
  margin-left: 20px;
}

.display {
  cursor: pointer;
  height: 250px;
  width: 250px;
  margin: 80px auto 50px;
  border: 2px solid #f4a238;
  border-radius: 50%;
  line-height: 90px;
  font-size: 2em;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.display:hover {
  background: #F39731;
}

.reset {
  color: #2E2D2E;
  width: 300px;
  height: 30px;
  border: none;
  background: #47b422;
  border-radius: 0px;
  font-family: monospace;
  font-size: 1em;
  color: #f0ecec;
}

.reset:hover {
  background: #459e27;
}
